<div class="admin-form theme-primary">

  <div class="panel heading-border panel-primary">
    <form id="activityForm" ng-submit="save()" name="activityForm" class="form-horizontal">
      <div class="panel-body bg-light">
        <div class="section-divider mb40">
          <span>{{form_title}}</span>
        </div>
        <!-- .section-divider -->

        <!-- Basic Inputs -->
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="section">
                  <div class="form-group">

                    <div input-text="title" value="the_article.title" label="文章标题" required="true"></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="section">
                  <div class="form-group">
                    <div item-select item-data="column_list" selected-value="the_article.columnKey" title="栏目"
                         name-key="name" val-key="val" required="false" ></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="section">
                  <div class="form-group">
                    <div item-select item-data="showType_list" selected-value="the_article.showType" title="类型"
                         name-key="name" val-key="val" required="false" ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <div class="section ">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="bs-component">

                        <div upload-queue maxfiles="1" fields="upload_param" title="上传文章封面" selected="files" result="the_activity.imgPoster" required="true"></div>


                        <div upload-preview files="files" urls="the_article.url" upload-param="upload_param"></div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="section ">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="bs-component">
                        <div upload-queue maxfiles="1" fields="upload_param" title="上传附件" selected="files" result="the_activity.imgPoster" required="true"></div>
                        <div upload-preview files="files" urls="the_article.url" upload-param="upload_param"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="section">
                  <div class="form-group">

                    <div input-text="source" value="the_article.source" label="来源" required="true"></div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="section">
                  <div class="form-group">
                    <div input-text="writer" value="the_article.writer" label="作者"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="section">
                  <div class="form-group">

                    <div input-text="title" value="the_article.keyword" label="关键字" required="true"></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="section">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="bs-component" ng-class="{'has-error':activityForm.activityContent.$invalid}">
                        <div text-angular="" name="activityContent" ng-model="activityContent" required placeholder="文章内容" encode-text="the_activity.content"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">


          </div>
        </div>
        <!-- end .section -->
        <!-- end .form-body section -->
      </div>
      <div class="panel-footer">
        <button type="submit" class="button btn-primary" ng-disabled="activityForm.$invalid">保存</button>
        <button type="button" class="button" ng-click="close()">关闭</button>
      </div>
      <!-- end .form-footer section -->
    </form>
  </div>

</div>
