<div class="preview">
  <div class="upload-image mw140 mr20 mb20" ng-repeat="f in files" ng-show="files.length > 0">
    <img ngf-src="f" ng-if="f.newupload"/>
    <img ng-src="{{f.fileName}}" ng-if="f.fileName && f.old"/>

    <div class="progress" ng-show="f.progress >= 0 && !f.uploaded">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%;">
        <span class="sr-only">{{f.progress}}% Complete</span>
      </div>
    </div>
    <a class="badge badge-danger" ng-if="f.uploaded" ng-click="deleteUploadFile($index,f)">x</a>
  </div>
</div>
