<label class="field file" ng-show="!isButton" ng-class="{'state-error':!isValid}">
  <span class="button btn-primary"> {{::title}} </span>
  <input type="file" class="gui-file" ngf-select
         ngf-multiple="{{multiple}}"
         ngf-keep="{{keep}}"
         ngf-keep-distinct="{{distinct}}"
         ng-model="selected">
  <input type="text" class="gui-input" placeholder="请选择文件" readonly="" ng-model="result" ng-required="{{required}}" test-valid>
</label>
<button ngf-select
        ngf-multiple="{{multiple}}"
        ngf-keep="{{keep}}"
        ngf-keep-distinct="{{distinct}}"
        ng-model="selected"
        class="btn btn-default"
        ng-show="isButton">
  {{::title}}
</button>
