<div class="panel mb10">
  <div class="panel-menu admin-form">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-4">
            <div input-text="name" value="search.title" label="活动标题"></div>
          </div>

          <div class="col-md-4">
            <div daterange-select value="datePicker.date" label="发布时间" time-picker="true" on-change="dateChange"></div>
          </div>

          <!--<div class="col-md-4">-->
          <!--<div daterange-select value="datePicker.date" label="结束时间" time-picker="true" on-change="dateChange"></div>-->
          <!--</div>-->


        </div>
        <div class="btn-group"></div>

        <div class="row">

          <div class="col-md-4">
            <div input-text="name" value="search.keyword" label="关键字词"></div>
          </div>

          <div class="col-md-4 " ng-if="status_able">
            <div item-select item-data="statuslist" selected-value="search.status" title="活动状态" name-key="name"
                 val-key="val" required="false"></div>
          </div>

          <div class="col-md-4">
            <button class="btn btn-success btn-md ph25" type="button" ng-click="search()">查询</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="panel">
  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13" ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:activityListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="mnw100 text-left" data-title="'活动标题'">{{item.title}}</td>
          <td class="mnw75" data-title="'关键字词'">{{item.keywords}}</td>
          <td class="mnw75" data-title="'发布时间'">{{item.publishTime | date:'yyyy-MM-dd'}}</td>
          <td class="mnw75" data-title="'活动状态'">
            <div class="btn-group" ng-if="item.status==0">
              <span class="text-danger">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
            <div class="btn-group" ng-if="item.status==1">
              <span class="text-success">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
            <div class="btn-group" ng-if="item.status==2">
              <span class="text-warning">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
          </td>
          <td class="w350" data-title="'操作'">

            <button class="btn btn-xs btn-info" ng-if="item.status==1||item.status==2" ng-click="signupinfo(item)"
            >报名信息
            </button>
            <!--<button class="btn btn-xs btn-success" ng-if="item.status==0||item.status==2" ng-click="ucauth.isAccess({key:'set_poster',func:set,param:item})"-->
            <!--&gt;发布-->
            </button>
            <button class="btn btn-xs btn-primary" ng-if="item.status==0||item.status==2" ng-click="ucauth.isAccess({key:'set_poster',func:set,param:item})"
            >编辑
            </button>
            <!--<button class="btn btn-xs btn-warning" ng-if="item.status==1" ng-click="ucauth.isAccess({key:'set_poster',func:set,param:item})"-->
            <!--&gt;收回-->
            <!--</button>-->
            <span confirm-popover title="收回活动" content="确定要收回活动'{{item.title}}'吗?" on-action="ucauth.isAccess"
                  value="{key:'back_activity',func:back,param:item}" btn-class="btn-xs btn-warning" btn-name="收回"
                  ng-if="item.status==1"></span>

            <span confirm-popover title="删除活动" content="确定要删除活动'{{item.title}}'吗?" on-action="ucauth.isAccess"
                  value="{key:'del_activity',func:del,param:item}" btn-class="btn-xs btn-danger" btn-name="删除"
                  ng-if="item.status==0||item.status==2"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

