<div class="panel">
  <!-- message toolbar header -->
  <div class="panel-menu">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-3">
        <div class="btn-group">
          <!--<button type="button" class="btn btn-default light">-->
          <!--<i class="fa fa-refresh"></i>-->
          <!--</button>-->
          <button type="button" class="btn btn-success light" ng-click="ucauth.isAccess({key:'add_employee',func:add})" ng-show="flag.add_employee">
            <i class="fa fa-plus pr5"></i>
            新增员工
          </button>


        </div>


      </div>

      <div class="btn-group">

      </div>

      <div class="col-xs-12 col-md-9 text-right">
        <button type="button" class="btn btn-danger light visible-xs-inline-block mr10" ng-click="ucauth.isAccess({key:'add_employee',func:add})" ng-show="flag.add_employee">新增员工</button>

        <!--<div class="btn-group mr10">-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="''">全部</label>-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="0">未审核</label>-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="1">已审核</label>-->
        <!--</div>-->

      </div>
    </div>
  </div>


  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13" ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:adminsListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="text-center w50" sortable="'autoId'" data-title="'#'">{{item.autoId}}</td>
          <td class="w100" data-title="'姓名'" sortable="'title'">{{item.name}}</td>
          <td class="mnw150" data-title="'用户名'">{{item.username}}</td>
          <td class="mnw100" data-title="'性别'">{{item.gender| statesName:"gender"}}</td>
          <td class="mnw100" data-title="'身份证'">{{item.idNumber}}</td>
          <td class="mnw100" data-title="'手机号'">{{item.mobile}}</td>
          <td class="mnw100" data-title="'邮箱'">{{item.email}}</td>

          <td class="w200" data-title="'操作'">
            <!--<button class="btn btn-xs btn-success" ng-click="ucauth.isAccess({key:'entry_activities',func:entry,param:item})">详情</button>-->
            <!--<button class="btn btn-xs btn-success"-->
                    <!--ng-click="ucauth.isAccess({key:'entry_activity',func:entry,param:item})"-->
                    <!--ng-disabled="!flag.entry_activity">详情-->
            <!--</button>-->
            <button class="btn btn-xs btn-primary"
                    ng-click="ucauth.isAccess({key:'edit_employee',func:edit,param:item})"
                    ng-show="flag.edit_employee">编辑
            </button>

            <span confirm-popover title="删除员工" content="确定要删除{{item.name}}么?" on-action="ucauth.isAccess"
                  value="{key:'del_employee',func:del,param:item}" btn-class="btn-xs btn-danger" btn-name="删除"
                  ng-show="flag.del_employee"></span>
            <span confirm-popover title="重置密码" content="确定要重置密码么?" on-action="ucauth.isAccess"
                  value="{key:'reset_pwd',func:resetPwd,param:item}" btn-class="btn-xs btn-danger" btn-name="重置密码"
                  ng-show="flag.reset_pwd"></span>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="custom/pager">

  <div style="text-align: center">
    <table-pager></table-pager>
  </div>

</script>





