<div class="panel mb10">
  <div class="panel-menu admin-form">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-4">
            <div input-text="name" value="search.name" label="团队名称"></div>
          </div>


          <div class="col-md-4 ">
            <div item-select item-data="statuslist" selected-value="search.status" title="活动状态" name-key="name"
                 val-key="val" required="false"></div>
          </div>

          <div class="col-md-4">
            <button class="btn btn-success btn-md ph25" type="button" ng-click="search()">查询</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="panel">
  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13" ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:activityListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="mnw100 text-left" data-title="'团队ID'">{{item.autoId}}</td>
          <td class="mnw100 " data-title="'团队名称'">{{item.name}}</td>
          <td class="mnw75" data-title="'管理员'">{{item.manageUser}}</td>
          <td class="mnw75" data-title="'手机号'">{{item.mobile}}</td>
          <td class="mnw75" data-title="'发布时间'">{{item.publishTime | date:'yyyy-MM-dd'}}</td>
          <td class="mnw75" data-title="'团队状态'">
            <div class="btn-group" ng-if="item.status==0">
              <span class="text-danger">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
            <div class="btn-group" ng-if="item.status==1">
              <span class="text-success">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
            <div class="btn-group" ng-if="item.status==2">
              <span class="text-warning">{{item.status|statesName:'ActivityStatus'}}</span>
            </div>
          </td>
          <td class="w350" data-title="'操作'">
            <button class="btn btn-xs btn-info" ng-if="item.status==0" ng-click="publish(item)"
            >发布
            </button>
            <button class="btn btn-xs btn-info" ng-if="item.status==1||item.status==2" ng-click="signupinfo(item)"
            >成员信息
            </button>
            <button class="btn btn-xs btn-info" ng-if="item.status==1||item.status==2" ng-click="feedBack(item)"
            >我有话说
            </button>
            </button>
            <button class="btn btn-xs btn-primary" ng-if="item.status==0||item.status==2"
                    ng-show="isAdmin&&flag.edit_team" ng-click="ucauth.isAccess({key:'edit_team',func:edit,param:item})"
            >编辑
            </button>

            <span confirm-popover title="撤消团队" content="确定要撤消团队'{{item.name}}'吗?" on-action="ucauth.isAccess"
                  value="{key:'back_team',func:back,param:item}" btn-class="btn-xs btn-warning" btn-name="收回"
                  ng-if="item.status==1" ng-show="isAdmin&&flag.back_team"></span>

            <span confirm-popover title="删除团队" content="确定要删除'{{item.name}}'吗?" on-action="ucauth.isAccess"
                  value="{key:'del_team',func:del,param:item}" btn-class="btn-xs btn-danger" btn-name="删除"
                  ng-if="item.status==0||item.status==2" ng-show="isAdmin&&flag.delete_team"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

