

<div class="panel">
  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13" ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:activityListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="mnw100 text-left" data-title="'ID'">{{item.autoId}}</td>
          <td class="mnw100 text-left" data-title="'姓名'">{{item.name}}</td>
          <td class="mnw75" data-title="'手机号'">{{item.mobile}}</td>
          <td class="mnw200" data-title="'地址'">{{item.addr}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

