<section id="content" class="table-layout">

  <!-- begin: .tray-center -->
  <div class="tray tray-center">
    <!-- list table -->
    <div ui-view="table">

    </div>

    <!-- form panel -->
    <div class="panel mb25 mt5" ui-view="forms">

    </div>



  </div>
  <!-- end: .tray-center -->

  <!-- begin: .tray-right -->
  <aside class="tray tray-right tray290" data-tray-height="match" ng-if="$state.includes('admin.activities.list')">

    <!-- menu quick links -->
    <div class="admin-form">

      <h4> 查询过滤</h4>

      <hr class="short">
      <div class="row">
        <div class="section">
          <div class="form-group">
            <div class="col-lg-12">
              <div class="bs-component">
                <div class="input-group">
                  <span class="input-group-addon text-muted-lighter">
                    活动标题
                  </span>
                  <input type="text" name="name" id="name" class="form-control" ng-model="the_search.title">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="short">

      <div class="section">
        <button class="btn btn-default btn-sm ph25" type="button" ng-click="search()">查询</button>

      </div>

    </div>

  </aside>
  <!-- end: .tray-right -->

</section>





