<div class="panel">
  <!-- message toolbar header -->
  <div class="panel-menu">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-3">
        <div class="btn-group">
          <!--<button type="button" class="btn btn-default light">-->
          <!--<i class="fa fa-refresh"></i>-->
          <!--</button>-->
          <button type="button" class="btn btn-success light" ng-click="ucauth.isAccess({key:'add_guide',func:add})" ng-disabled="!flag.add_guide">
            <i class="fa fa-plus pr5"></i>
            新增办事指南
          </button>
        </div>
      </div>

      <div class="btn-group">
      </div>

      <div class="col-xs-12 col-md-9 text-right">
        <button type="button" class="btn btn-danger light visible-xs-inline-block mr10" ng-click="ucauth.isAccess({key:'add_guide',func:add})" ng-disabled="!flag.add_guide">新增办事指南</button>

        <!--<div class="btn-group mr10">-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="''">全部</label>-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="0">未审核</label>-->
        <!--<label class="btn btn-default light" ng-model="statusModel" btn-radio="1">已审核</label>-->
        <!--</div>-->

      </div>
    </div>
  </div>

  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13" ng-table="tableParams" template-pagination="custom/pager" cg-busy="{promise:guideListPromise,message:'请稍候...'}">
        <tbody>
        <tr ng-repeat="item in $data">
          <td class="text-center w50" sortable="'autoId'" data-title="'#'">{{item.autoId}}</td>
          <td class="mnw200" data-title="'标题'">{{item.title}}</td>
          <td class="mnw100" data-title="'所属小区'">{{item.communityName}}</td>
          <td class="mnw100" data-title="'更新时间'">{{item.modifyTime | date:'yyyy-MM-dd HH:mm'}}</td>

          <td class="w150" data-title="'操作'">
            <button class="btn btn-xs btn-primary" ng-click="ucauth.isAccess({key:'edit_guide',func:edit,param:item})" ng-disabled="!flag.edit_guide">编辑</button>
            <span confirm-popover title="删除办事指南" content="确定要删除{{item.title}}吗?" on-action="ucauth.isAccess" value="{key:'del_guide',func:del,param:item}" btn-class="btn-xs btn-danger" btn-name="删除" disabled="!flag.del_guide"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
