<div class="admin-form theme-primary">

  <div class="row">
    <div class="col-md-6">
      <div class="panel heading-border panel-primary">
        <form id="loginPasswordForm" ng-submit="updateLoginPassword()" name="loginPasswordForm" class="form-horizontal">
          <div class="panel-body bg-light">

            <div class="section-divider mb40">
              <span>修改登录密码</span>
            </div>
            <!-- .section-divider -->

            <!-- Basic Inputs -->
            <div class="row">
              <div class="col-md-12">

                <div class="row">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="oldPassword" value="loginPassword.oldPassword" label="原密码" required="true"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="newPassword" value="loginPassword.newPassword" label="新密码" required="true" minlength="6"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="loginRepassword" value="loginRepassword" label="重复密码" required="true" repassword="loginPassword.newPassword"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- end .section -->

            <!-- end .form-body section -->

          </div>
          <div class="panel-footer">
            <button type="submit" class="button btn-primary" ng-disabled="loginPasswordForm.$invalid">保存</button>
            <button type="button" class="button" ng-click="close()">关闭</button>
          </div>
          <!-- end .form-footer section -->
        </form>
      </div>
    </div>
    <div class="col-md-6" ng-if="user.userTag === 0">
      <div class="panel heading-border panel-primary">
        <form id="tradePasswordForm" ng-submit="updateTradePassword()" name="tradePasswordForm" class="form-horizontal">
          <div class="panel-body bg-light">

            <div class="section-divider mb40">
              <span>{{tradePasswordFormTitle}}</span>
            </div>
            <!-- .section-divider -->

            <!-- Basic Inputs -->
            <div class="row">
              <div class="col-md-12">

                <div class="row" ng-if="isSetTradePassword">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="oldPassword" value="tradePassword.oldTrdPwd" label="原密码" required="true"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="newPassword" value="tradePassword.trdPwd" label="新密码" required="true" minlength="6"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-12">
                    <div class="section">
                      <div class="form-group">
                        <div input-password="loginRepassword" value="tradeRepassword" label="重复密码" required="true" repassword="tradePassword.trdPwd"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- end .section -->

            <!-- end .form-body section -->

          </div>
          <div class="panel-footer">
            <button type="submit" class="button btn-primary" ng-disabled="tradePasswordForm.$invalid">保存</button>
            <button type="button" class="button" ng-click="close()">关闭</button>
          </div>
          <!-- end .form-footer section -->
        </form>
      </div>
    </div>
  </div>

</div>
