<div class="admin-form theme-info mw500" id="login">

  <!-- Login Logo -->
  <div class="row table-layout">
    <a href="" title="">
      <img src="images/property-logo.png" class="center-block img-responsive" style="max-width: 275px;">
    </a>
  </div>

  <!-- Login Panel/Form -->
  <div class="panel mt30 mb25" cg-busy="{promise:signinPromise,message:'登录中...'}">

    <form name="signinForm" id="contact" ng-submit="signin()">
      <div class="panel-body bg-light p25 pb15">


        <!-- Username Input -->
        <div class="section">
          <label for="username" class="field-label text-muted fs18 mb10">用户名</label>
          <label for="username" class="field prepend-icon" ng-class="{'state-error':signinForm.username.$invalid && signinForm.username.$dirty,'state-success':signupForm.username.$valid}">
            <input type="text" name="username" id="username" class="gui-input" placeholder="输入用户名" required ng-model="user.user">
            <label for="username" class="field-icon">
              <i class="fa fa-user"></i>
            </label>
          </label>
        </div>

        <!-- Password Input -->
        <div class="section">
          <label for="username" class="field-label text-muted fs18 mb10">密码</label>
          <label for="password" class="field prepend-icon" ng-class="{'state-error':signinForm.password.$invalid && signinForm.password.$dirty,'state-success':signupForm.password.$valid}">
            <input type="password" name="password" id="password" class="gui-input" placeholder="输入密码" required ng-model="user.password">
            <label for="password" class="field-icon">
              <i class="fa fa-lock"></i>
            </label>
          </label>
        </div>
      </div>

      <div class="panel-footer clearfix">
        <button type="submit" class="button btn-primary mr10 pull-right" ng-disabled="signined">登录</button>
        <label class="switch ib switch-primary mt10 ml10">
          <input type="checkbox" name="remember" id="remember" ng-model="remember">
          <label for="remember" data-on="是" data-off="否"></label>
          <span>记住我</span>
        </label>
      </div>

    </form>
  </div>

  <!-- Registration Links -->
  <div class="login-links">
    <!--<p>-->
      <!--<a href="" class="active">忘记密码</a>-->
    <!--</p>-->
    <!--<p>没有账号?-->
      <!--<a ui-sref="pages.signup" title="注册账号">注册</a>-->
    <!--</p>-->
  </div>

</div>


