 <section class="fill">
    <div ui-layout="{flow:'column',disableToggle:true}">
      <div ui-layout-container size="200px">

        <div class="row">
          <div class="col-md-12">

            <div ola-tree tree-data="treeData"></div>

          </div>
        </div>

      </div>
      <div ui-layout-container class="p20">
        <!-- list table -->
        <div class="" ui-view="table">

        </div>

        <!-- form panel -->
        <div class="mb25 mt5" ui-view="forms">

        </div>
      </div>
    </div>

  </section>






