<!--<div class="panel">-->
<!--&lt;!&ndash; message toolbar header &ndash;&gt;-->
<!--<div class="admin-form theme-primary">-->

<!--<div class="panel heading-border panel-primary">-->
<!--<div class="panel-body bg-light">-->
<!--<div class="row">-->
<!--&lt;!&ndash; begin: .tray-right &ndash;&gt;-->
<!--&lt;!&ndash; menu quick links &ndash;&gt;-->
<!--<div class="col-md-12">-->

<!--<div class="row">-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<div class="col-lg-12">-->
<!--<div class="bs-component">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon">关键字</span>-->
<!--<input type="text" name="keyword" id="keyword" class="form-control"-->
<!--ng-model="the_article.keyword">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<div input-text="title" value="the_article.title" label="标题"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<div daterange-select value="datePicker.date" label="发布时间" time-picker="true"-->
<!--on-change="dateChange"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<div item-select item-data="column_list" selected-value="the_article.columnKey" title="栏目"-->
<!--name-key="name" val-key="val" required="false"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<div input-text="source" value="the_article.source" label="来源"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--&lt;!&ndash;<div item-select item-data="status_list" selected-value="the_article.status" title="状态"&ndash;&gt;-->
<!--&lt;!&ndash;name-key="name" val-key="val" required="false" disabled="true" ng-if="flag.disabled"></div>&ndash;&gt;-->
<!--<div item-select item-data="status_list" selected-value="the_article.status" title="状态"-->
<!--name-key="name" val-key="val" required="false" disabled="false" ng-if="flag.disabled"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<div class="section">-->
<!--<div class="form-group">-->
<!--<button class="button btn-primary col-md-3" type="submit" ng-click="search()">查询</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end: .tray-right &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="panel">
  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13 " ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:feedbackListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="text-center w50" sortable="'autoId'" data-title="'#'">{{item.autoId}}</td>
          <td class="table-image w140" data-title="'图片'">
            <img src="{{item.image}}"/></td>
          <td class="" data-title="'内容'">{{item.content}}</td>

          <td class="w75" data-title="'手机号'">{{item.mobile}}</td>
          <!--<td class="mw150" data-title="'关键字'">{{item.keywords}}</td>-->
          <td class="w150" data-title="'时间'">{{item.sayTime|date:"yyyy-MM-dd HH:mm"}}</td>
          <td class="w200" data-title="'操作'">
            <button class="btn btn-xs btn-primary"
                    ng-click="ucauth.isAccess({key:'edit_article',func:entry,param:item})">详情
            </button>
            <button class="btn btn-xs btn-success"
                    ng-click="ucauth.isAccess({key:'edit_article',func:reply,param:item})">回复
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="custom/pager">

  <div style="text-align: center">
    <table-pager></table-pager>
  </div>

</script>





