
<div class="panel">
  <!-- message listings table -->
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table table-hover admin-form theme-warning tc-checkbox-1 fs13 " ng-table="tableParams"
             template-pagination="custom/pager" cg-busy="{promise:feedbackListPromise,message:'请稍候...'}">

        <tbody>
        <tr ng-repeat="item in $data">
          <td class="text-center w50" sortable="'autoId'" data-title="'#'">{{item.autoId}}</td>
          <td class="w100" data-title="'图片'">
            <div class="item-f" >
              <div class="item-clip" style="background-image: url('{{getImgUrl(item.image)}}')">
              </div>
            </div>
          </td>
          <td class="" data-title="'内容'">{{item.content}}</td>

          <td class="w75" data-title="'手机号'">{{item.mobile}}</td>
          <!--<td class="mw150" data-title="'关键字'">{{item.keywords}}</td>-->
          <td class="w150" data-title="'时间'">{{item.sayTime|date:"yyyy-MM-dd HH:mm"}}</td>
          <td class="w200" data-title="'操作'">
            <button class="btn btn-xs btn-primary"
                    ng-click="entry(item)">详情
            </button>
            <button class="btn btn-xs btn-success" ng-show="flag.reply_feedback"
                    ng-click="ucauth.isAccess({key:'reply_feedback',func:reply,param:item})">回复
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="custom/pager">

  <div style="text-align: center">
    <table-pager></table-pager>
  </div>

</script>





