
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="admin-form theme-primary">
        <div class="panel  panel-primary">
          <div class="panel-body bg-light">
            <!--<div class=" row div-md-4 col-md-6">-->
            <div class="section-divider mb40">
              <span>详情</span>
            </div>
            <div class="row">
              <div class="row">

                <div class="col-md-12">
                  <div class="section">
                    <div class="form-group">
                      <!--<span>内容：</span>-->
                      <div class="div-line-height-1" value="the_feedback.content">{{the_feedback.content}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <ul class="image_list">
                  <li ng-repeat="item in images" style="background-image: url({{item}})" ng-click="preImage(item)">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <!-- message toolbar header -->
      <div class="admin-form theme-primary">
        <div class="panel  panel-primary">
          <div class="panel-body bg-light">
            <div class="section-divider mb40">
              <span>评论回复</span>
            </div>
            <div class="row">
              <div class="">
                <div class="row">
                  <div class="hpanel filter-item active" ng-repeat="item in the_feedback.replies">
                    <div class="panel-body">
                      <div class="pull-right text-right">
                        <small class="stat-label">{{item.replyTime|date:'yyyy-MM-dd HH:mm'}}</small>
                      </div>
                      <h4 class="m-b-xs">{{item.name}}</h4>
                      <p class="small">{{item.content}}</p>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="img-circle">
      <img ng-src="{{preImageUrl}}" ng-if="preImageUrl">
    </div>

  </div>
</div>
