<div class="panel">
  <!-- message toolbar header -->
  <div class="admin-form theme-primary">

    <div class="panel heading-border panel-primary">
      <div class="panel-body bg-light">

        <div class="col-md-4">


          <div class="row">
            <div class="">
              <div  value="the_feedback.content" label="">{{the_feedback.content}}</div>
            </div>
          </div>
          <div class="row">

            <div class="">
              <img ng-src="{{the_feedback.image}}"/>
            </div>
          </div>
        </div>

      </div>
      <!-- end: .tray-right -->
    </div>
  </div>
</div>
</div>
</div>
